@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body{
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.page-container {
  padding: 1rem;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin: 5rem 0 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #1D4ED8;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.navbar-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1D4ED8;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-button {
  color: #1D4ED8;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.375rem;
  background: transparent;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgba(29, 78, 216, 0.1);
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar.open .navbar-links {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 100%;
}

.form-button {
  background-color: #1D4ED8;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #2563EB;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
  max-width: 64rem;
  box-shadow: 0 0 20px 3px #1D4ED8;
  border-radius: 0.5rem;
  overflow: hidden;
}

.login-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem 0 0 0.5rem;
}

.image-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0 0.5rem 0.5rem 0;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #1149CF;
  margin-bottom: 1.5rem;
}

.form-container {
  background-color: #E5E5E5;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-footer {
  text-align: center;
  margin-top: 1rem;
}

.footer-text {
  font-size: 0.875rem;
  color: #1149CF;
}

.footer-link {
  font-weight: bold;
  color: #1149CF;
  text-decoration: underline;
}